.pricing-plan {
  padding: 8rem 0;
}

.pricing-plan-content > .pricing-plan-box > .pricing-heading > .price {
}

.pricing-plan-content > .pricing-plan-box {
  width: 75%;
  border-radius: 11px;
  padding: 2.4rem;
  text-align: center;

  /* Giving it height so that we can auto move down the inside link. */
  height: 60rem;

  display: flex;
  flex-direction: column;
}

.pricing-plan-content > .pricing-starter {
  border: 2px solid #e67e22;
  justify-self: end;
}

.pricing-plan-content > .pricing-complete {
  background-color: #fdf2e9;
  overflow: hidden;

  position: relative;
}

.pricing-plan-content > .pricing-complete::after {
  content: "Best value";
  text-transform: uppercase;
  background-color: #a15818;
  padding: 1rem 0;
  color: #fdf2e9;
  width: 40rem;
  font-size: 1.4rem;
  font-weight: 600;

  position: absolute;
  top: 4%;
  right: -34%;

  transform: rotate(45deg);
}

.pricing-plan-content > .pricing-plan-box > .pricing-heading {
  font-size: 4.4rem;
  color: #e67e22;
  font-weight: 700;

  margin-bottom: 3.2rem;
}

.pricing-plan-content > .pricing-plan-box > .price {
  font-size: 5.2rem;
  font-weight: 800;
  color: #333;

  margin-bottom: 0.8rem;
}

.dollar {
  font-size: 2rem;
}

.pricing-plan-content > .pricing-plan-box > .monthly-text {
  font-size: 2rem;

  margin-bottom: 4.8rem;
}

.pricing-plan-content > .pricing-plan-box > .pricing-list {
  text-align: left;
}

.pricing-plan-content > .pricing-plan-box > .pricing-list li {
  font-size: 1.8rem;
}

.pricing-plan-content > .pricing-plan-box > .get-started-link {
  margin-top: auto;
}

.pricing-plan-content > .pricing-plan-box > .get-started-link a {
  background-color: #a15818;
  padding: 1.4rem 4.8rem;
  text-decoration: none;
  border-radius: 9px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fdf2e9;
  display: inline-block;
  transition: all 0.5s;
}

.pricing-plan-content > .pricing-plan-box > .get-started-link a:hover {
  background-color: #e67e22;
  /* color: #fdf2e9; */
}

.pricing-plan > .pricing-plan-inner > .pricing-link {
  display: flex;
  justify-content: center;
}

.pricing-plan > .pricing-plan-inner > .pricing-link a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #a15818;
  border-bottom: 2px solid currentColor;
  padding-bottom: 3px;
  transition: all 0.5s;
}

.pricing-plan > .pricing-plan-inner > .pricing-link a:hover {
  border-bottom: 2px solid transparent;
}
